{% extends 'myApp/base.html' %}

{% block content %}
    {% include 'myApp/partials/hero.html' %}
    {% include 'myApp/partials/story_strip.html' %}
    {% include 'myApp/partials/shift.html' %}
    {% include 'myApp/partials/journey.html' %}
    {% include 'myApp/partials/bridge_method.html' %}
    {% include 'myApp/partials/offerings.html' %}
    {% include 'myApp/partials/values.html' %}
    {% include 'myApp/partials/invitation.html' %}
    {% include 'myApp/partials/footer.html' %}
{% endblock %}
