{% extends 'myApp/base.html' %}

{% block content %}
    {% include 'myApp/partials/hero.html' %}

    {% include 'myApp/partials/credibility.html' %}
    {% include 'myApp/partials/testimonials.html' %}
    {% include 'myApp/partials/pain_points.html' %}
    {% include 'myApp/partials/beliefs.html' %}
    {% include 'myApp/partials/services.html' %}
    {% include 'myApp/partials/selfhealing_path.html' %}
    {% include 'myApp/partials/why_work_with_me.html' %}
    {% include 'myApp/partials/final_cta.html' %}
    
    {% include 'myApp/partials/footer.html' %}
{% endblock %}
