{% extends 'myApp/base.html' %}

{% block title %}Christoph Erbel - Systemic Life Mentor | A New Approach{% endblock %}

{% block content %}
<!-- NEW LANDING PAGE PROPOSAL - Streamlined & Modern -->

{% include 'myApp/partials/v2_hero.html' %}
{% include 'myApp/partials/v2_path_intro.html' %}
{% include 'myApp/partials/v2_six_steps.html' %}
{% include 'myApp/partials/v2_why_me.html' %}
{% include 'myApp/partials/v2_next_step.html' %}

{% include 'myApp/partials/v2_footer.html' %}

{% endblock %}

